* {
    margin: 0;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 35px;
    background-color: black;
  }
  
  .navbar-left,
  .navbar-center,
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-left {
    flex: 30%;
    justify-content: flex-start;
  }
  
  .navbar-right {
    justify-content: end;
    padding-right: 3%;
    flex: 30%;
  }
  
  .navbar-center {
    flex: 40%;
  }
  
  .navbar h1 {
    color: white;
    font-size: medium;
  }
  
  .logo {
    width: 50px;
    height: 50px;
  }
  
  .search-bar {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    height: 30px;
    margin-left: -15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.5px;
  }
  
  .fa-bookmark {
    width: 27px;
    height: 51px;
    margin-right: 28px;
  }
  
  .profile-circle {
    width: 40px;
    height: 39px;
    border-radius: 50%;
    background-color: #ccc;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar {
      flex-wrap: wrap;
      justify-content: space-between;
      height: auto;
      padding: 10px 20px;
    }
  
    .navbar-left,
    .navbar-right {
      flex: 100%;
      justify-content: center;
      margin-bottom: 10px;
    }
  
    .navbar-center {
      flex: 100%;
      margin-bottom: 10px;
    }
  
    .navbar h1 {
      font-size: small;
    }
  
    .logo {
      width: 40px;
      height: 40px;
    }
  
    .search-bar {
      margin-left: 0;
    }
  
    .bookmark {
      margin-right: 0;
    }
  }