*{
    margin: 0px;
    padding: 0%;
}


/* These are for View Test */
 
.lst_of_ques{
    margin-left: calc(20%);
    margin-right: calc(15%);
    /* display: flex; */
    /* justify-content: center; */
}
.topQ{
    display: flex;
    justify-content: space-between;
}

/* These are for View Test */
.layout{
    margin-left: calc(20%);
    margin-right: calc(15%);
    height: 80vh;
    border: 2px solid black;
    /* position: relative; */
}